.addSecret-container {
  min-width: 600px;
  min-height: 675px;
  @include main-container;
}

.addSecret-form {
  width: 500px;
  height: 500px;

  margin-top: 20px;
  padding: 20px;
  @include main-container;
  button {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 1rem;
    font-family: $primary-font;
    border-radius: 10px;
  }
}

.addSecret-text-area {
  margin-top: 20px;
  padding: 30px 15px;
  resize: none;
  padding-top: 0px;
  overflow: -moz-hidden-unscrollable;
  font-size: 30px;

  &:focus {
    border: none;
    outline: none;
  }
}
