$white: rgb(233, 233, 233);
$primary-font: "Open Sans", sans-serif;

// font-colors
$font-color1: black;
$font-color2: rgb(97, 97, 97);
$font-color3: rgb(28, 156, 60);
$font-color4: rgb(173, 9, 9);
$font-color5: rgb(0, 18, 184);
$font-color6: rgb(139, 3, 78);
$font-color7: rgb(199, 221, 0);
$font-color8: rgb(0, 199, 199);
$font-color9: rgb(224, 120, 0);

//fonts
$font1: "Coming Soon", cursive;
$font2: "Covered By Your Grace", cursive;
$font3: "Hachi Maru Pop", cursive;
$font4: "Indie Flower", cursive;
$font5: "Mansalva", cursive;
$font6: "Nothing You Could Do", cursive;
$font7: "Permanent Marker", cursive;
$font8: "Rock Salt", cursive;
$font9: "Shadows Into Light", cursive;
