@import "./css//varibable.scss";
@import "./css//random.scss";
@import "./css/navbar.scss";
@import "./css/footer.scss";
@import "./css//postcard.scss";
@import "./css/addSecret.scss";
@import "./css/createUser.scss";
@import "./css/login.scss";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.app {
  width: 100vw;
  min-height: 100vh;
  background-color: black;
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  &:visited {
    text-decoration: none;
    color: unset;
  }
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  &focus {
    border: none;
    outline: none;
  }
}
